[Desktop Entry]
Actions=CopyMIMEContent
Type=Service
MimeType=image/*
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Icon=edit-copy.png

[Desktop Action CopyMIMEContent]
Name=Copy As MIME Content
Icon=edit-copy.png
Exec=fish -c "copy_mime_content %f"

